@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

/* Tags */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f4f8;
  margin: 0 0 90px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
  color: #000000;
}

/* ||| Reused properties */
.dashButton:hover,
.signInButton:hover,
.signUpButton:hover,
.formInputFile::file-selector-button:hover,
button:hover {
  transform: scale(0.8) perspective(1rem);
}

.passwordInput,
.emailInput,
.nameInput,
.textarea {
  box-shadow: rgba(0, 0, 0, 0.11);
  border: none;
  background: #ffffff;
  border-radius: 3rem;
  height: 3rem;
  width: 100%;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0 4rem;
  font-size: 1rem;
}
@media (min-width: 1100px) {
  .passwordInput,
  .emailInput,
  .nameInput,
  .textarea {
    padding: 0 5rem;
  }
}

.signOutButton {
  cursor: pointer;
  background: #FFB81C;
  border-radius: 1rem;
  padding: 0.85rem 2rem;
  color: #000000;
  font-weight: 600;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.pageContainer,
.offers,
.profile {
  margin: 1rem;
  margin-bottom: 6rem;
}
@media (min-width: 1024px) {
  .pageContainer,
  .offers,
  .profile {
    margin: 3rem;
  }
}

.pageHeader {
  font-size: 2rem;
  font-weight: 800;
}

.emailInput {
  margin-bottom: 2rem;
  background: url('./assets/svg/personIcon.svg') #ffffff 2.5% center no-repeat;
}

.passwordInputDiv {
  position: relative;
}

.passwordInput {
  margin-bottom: 2rem;
  background: url('./assets/svg/lockIcon.svg') #ffffff 2.5% center no-repeat;
}

.showPassword {
  cursor: pointer;
  position: absolute;
  top: -4%;
  right: 1%;
  padding: 1rem;
}

.forgotPasswordLink {
  cursor: pointer;
  color: #007749;
  font-weight: 600;
  text-align: right;
}

.signInBar,
.signUpBar {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

button,
.dashButton,
.calendarInput,
.signInButton,
.signUpButton,
.signInText,
.signUpText {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .signInBar,
  .signUpBar {
    justify-content: start;
  }
}

.signInText,
.signUpText {
  font-size: 1.5rem;
  font-weight: 700;
}

.signInButton,
.signUpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #FFB81C;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  button,
  .signInButton,
  .signUpButton {
    margin-left: 3rem;
  }
}

.registerLink {
  margin-top: 4rem;
  color: #007749;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

select,
option,
.landingButton,
.calendarInput,
.formInput,
.formInputFile {
  padding: 0.9rem 3rem;
  background-color: #ffffff;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: None;
}

.calendarInput,
.formInput,
.formInputFile {
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

/* ||| Navbar  */

.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 85px;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarNav {
  width: 100%;
  margin-top: 0.75rem;
  overflow-y: hidden;
}

.navbarListItems {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbarListItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbarListItemName,
.navbarListItemNameActive {
  margin-top: 0.25rem;
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
}
.navbarListItemNameActive {
  color: #2c2c2c;
}

/* ||| Spinner  */

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #FFB81C transparent #FFB81C transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ||| CreateInvoice */

/* ||| EditInvoices */

/* ||| EmployeeDashboard */

.dashButton {
  background-color: #ffffff;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: None;
  height: 4rem;
  display: flex;
  padding: 1rem;
  width: fit-content;
  margin: 2rem;
}
@media (min-width: 1024px) {
  .dashButton {
    margin-left: 0rem;
  }
}

/* ||| ForgotPassword */

/* ||| Landing */

/* ||| NotFound */

/* ||| SignIn */

/* ||| SignOut */

/* ||| SignUp */

.nameInput {
  margin-bottom: 2rem;
  background: url('./assets/svg/badgeIcon.svg') #ffffff 2.5% center no-repeat;
}

/* ||| OAuth */

.socialLogin {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialIconDiv {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  margin: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.socialIconImg {
  width: 100%;
}

/* ||| UploadImage */

.primaryButton {
  cursor: pointer;
  background: #FFB81C;
  border-radius: 1rem;
  padding: 0.85rem 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitButton {
  cursor: pointer;
  background:#FFB81C;
  border-radius: 1rem;
  padding: 0.85rem 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: None;
  margin-top: 1rem;

}

.profile {
  margin-bottom: 10rem;
}

.formLabel {
  font-weight: 600;
  margin-top: 1rem;
  display: block;
}

.createListingButton {
  margin-top: 5rem;
}

.formInputFile {
  margin-right: 3rem;
  padding: 0.9rem 0.7rem;
  text-align: center;
  width: 100%;
}
.formInputFile::file-selector-button {
  background-color: #007749;
  border: none;
  color: #000000;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

/* ||| ViewInvoices */




